.ContainerItems {
    /* flex-grow: 3; */
    width: calc(3/4*100%);
}

.ContainerItemsTitle {
    font-size: 32px;
}

.listItems {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 32px
}

.listItems li {
    position: relative;
    width: 230px;
    aspect-ratio: 2/3;
    border: 1px solid black;
    background-color: aquamarine;
}

.listItems figure {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    /* background-color: red; */
}

.listItems figure img {
    object-fit: cover;
}