.buttonMoveDown {
    animation: move-top-down 2s infinite
}

@keyframes move-top-down {
    0% {
        bottom: 12.5%
    }
    50% {
        bottom: 15%;
    }
    100% {
        bottom: 12.5%;
    }
}